{% extends 'base.html.twig' %}
{% block body %}
  <div class="container4" style="width:75vw;height:60vh; border:2px solid green;margin:auto;">
      <div style="display:flex;justify-content:space-around">
          <h2 style="color:green">voici la liste de vos elements</h2>
      </div>
      <table style="border:2px solid black; width:50vw;margin-left:auto;margin-right:auto; height:auto; ">
            <tr>
                <th>L'Element</th>
                <th>la Classe</th>
            </tr>
            {% for ar in array%}
            <tr> <td>{{ar['element'].nomElement}}</td>
            <td> {{ar["class"].className}}</a></td></tr>
            {% endfor %}
      </table>

  </div>
{% endblock %}