{% extends 'base.html.twig' %}
{% block body %}
<div class="container3" style="width:75vw;margin:auto; height:60vh;border:2px solid green">
   <div class="header">
       <h2 style="color:green">Bienvenue dans votre espace personnel</h2>
   </div>
   <div class="personal-info">
       <h4>vous pouvez consulter vos élements,<br>
       voir la liste de vos étudiants ...
       donner des notes au examens a vos étudiants
       <br>mais soyez pour que aucun personne d'autre que vous , avoir l'acces a ce compte</h4>
   </div>
</div>
{% endblock %}