{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title "<div style='color:blue'>welcome the the administration dahsboard</div>" %}
{% block main %}
<main class="bg-success w-90 p-3 ">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Overview</li>
                    </ol>
                </nav>
                <h1 class="h2">Dashboard</h1>
                <p>This is the homepage of a simple admin interface which is part of a tutorial written on Themesberg</p>
                <div class="row my-4">
                    <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <div class="card">
                            <h5 class="card-header">Eudiants</h5>
                            <div class="card-body">
                              <h5 class="card-title">{{students|length }}</h5>
                              <p class="card-text text-success"></p>
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
                        <div class="card">
                            <h5 class="card-header">teachers</h5>
                            <div class="card-body">
                              <h5 class="card-title">{{teachers|length}}</h5>
                              <p class="card-text text-success"></p>
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
                        <div class="card">
                            <h5 class="card-header">Filiéres</h5>
                            <div class="card-body">
                              <h5 class="card-title">{{filieres|length}}</h5>
                            </div>
                          </div>
                    </div>
      
                <footer class="pt-5 d-flex justify-content-between">
                    <div>Copyright © 2020-2021 <a href="#"></a><div>
                    <ul class="nav m-0">
                        <li class="nav-item">
                          <a class="nav-link text-secondary" href="mailto:medalawii22@gmail.com">Contact</a>
                        </li>
                      </ul>
                </footer>
{% endblock %}